<h1>Area comparator</h1>

<p>
  This visualization lets you comapre the different criteria values of each of the common living areas in Denmark against each other. 
  Also, you can compare against the average value of all ghetto areas, non ghetto areas and all areas combined.
</p>

<p>
    The black line on each graph represents the threshold value for that particular criteria. Please note that the y-axis ranges from 0 - 90. 
    This is not to skew the image, but rather to make it just a tiny bit easier to compare the bars.
</p>

<div id="outerContainer">
  <div class="container background">
    <svg #svg></svg>
  </div>
  
  <div *ngIf='currentData' class='row'>
  
    <div class='column'>
      <app-selector 
        [data]='currentData'
        [startingArea]=0
        (targetChange)='target1Change($event)'
      ></app-selector>
    </div>
  
    <div class='column'>
      <app-selector 
        [data]='currentData'
        [startingArea]=1
        (targetChange)='target2Change($event)'
      ></app-selector>
    </div>
  
  </div>
</div>