<h1>Pie Chart</h1>

<p>
    This is the good old pie chart, which is showcasing how many common living areas are classified as ghettoes, and how many that are not. The data is available for the years 2014 - 2017.
</p>

<p>
    The <span style="color:orange">orange</span> part of the pie symbolises the amount of non-ghetto areas, while the <span style="color:red">red</span> area symbolises the amount of ghettos.
</p>

<p>
    <b>Please note:</b> The data that we have used for this illustration, is a recreation of the ghettolist, and therefore not 100% accurate. Because of this, the data for 2014 only shows 31 ghettos, while in reality there were 33.
</p>

<div id="my_dataviz"></div>

<button (click)="update(2014)">2014</button>
<button (click)="update(2015)">2015</button>
<button (click)="update(2016)">2016</button>
<button (click)="update(2017)">2017</button>