<h1>Outlier detection</h1>

<!-- <app-outlier-graph year=2017 threshold=2.7 feature='convicted'></app-outlier-graph> -->
<app-outlier-graph year=2017 threshold=40 feature='unemployment'></app-outlier-graph>
<app-outlier-graph year=2017 threshold=50 feature='immigrants'></app-outlier-graph>
<app-outlier-graph year=2017 threshold=2.7 feature='convicted'></app-outlier-graph>
<app-outlier-graph year=2017 threshold=50 feature='education'></app-outlier-graph>
<app-outlier-graph year=2017 threshold=55 feature='income'></app-outlier-graph>