<h1>Outlier detection</h1>

<p>
    This visualization is designed to help identify statistical outliers.
    A visualization for each of the 5 criteria has been created. Each line represents an area, and the x-axis describes the area's value for a given criteria.
    The black line indicates the threshold for a given criteria. Note that for the first 4 criteria the value must be <i>above</i> the line, in order for the criteria to be fulfilled, and for the 5'th criterion (income) the value must be <i>below</i> the black line, for the criterion to be fulfilled.
</p>

<p>
    Each area has been color coded, so that ghettos have been marked by a <span style="color:red">red</span> color, and non-ghettos have been marked by a <span style="color:rgb(130, 150, 216)">blue</span> color. Please note that the ghettos corresponds with the ones defined by the state, and not the ones that fulfill 3 criteria of our data.
</p>

<p>
    By mousing over an area, it will show you the name of the area alongside the exact value.
    By clicking on a line, the area will stay selected until another area is selected, or you click anywhere else on the website.
</p>

<p>
    Please note that the x-axis has been scaled differently for each criteria, based on the highest and lowest value in each.
</p>

<!-- <app-outlier-graph year=2017 threshold=2.7 feature='convicted'></app-outlier-graph> -->
<div style="display: block; float:left;">
<div>
    <h2 style="display:inline-block">Unemployment</h2>
    <p style="display: inline-block;margin-left: 30px;">(Needs to exceed 40%)</p>
</div>
<app-outlier-graph style="display: block" year=2017 threshold=40 feature='unemployment'></app-outlier-graph>

<div style="display: block">
    <h2 style="display: inline-block">Immigrants</h2>
    <p style="display: inline-block;margin-left: 30px;">(Needs to exceed 50%)</p>
</div>
<app-outlier-graph style="display: block" year=2017 threshold=50 feature='immigrants'></app-outlier-graph>

<div>
    <h2 style="display:inline-block">Convicted</h2>
    <p style="display: inline-block;margin-left: 30px;">(Needs to exceed 2.7%)</p>
</div>
<app-outlier-graph year=2017 threshold=2.7 feature='convicted'></app-outlier-graph>

<div>
    <h2 style="display:inline-block">Education</h2>
    <p style="display: inline-block;margin-left: 30px;">(Needs to exceed 50%)</p>
</div>
<app-outlier-graph year=2017 threshold=50 feature='education'></app-outlier-graph>

<div>
    <h2 style="display:inline-block">Income</h2>
    <p style="display: inline-block;margin-left: 30px;">(Needs to exceed 55%)</p>
</div>
<app-outlier-graph year=2017 threshold=55 feature='income'></app-outlier-graph>
</div>