<p>
  Welcome to Graphviz. Please select a visualization in the top row to get started.
</p>

<p>
  As a reference, here are the 5 ghetto criteria:
</p>

<ol>
  <li>The share of inhabitants aged 18–64 neither in employment nor education is higher than 40%, as an average over the
    span of 2 years.</li>
  <li>The share of immigrants and their descendants from non-Western countries is higher than 50%.</li>
  <li>The share of inhabitants aged 18 and over convicted for infractions against the penal law, weapons law or drug
    regulations is greater than 2.7%, as an average over the span of 2 years.</li>
  <li>The share of inhabitants of aged 30–59 with only primary education or less, is greater than 50%.</li>
  <li>The average gross income for inhabitants aged 18–64 excluding those in education is less than 55% of the average
    gross income for the region in question.</li>
</ol>

<p>
    For an area to be a ghetto, at least 3 of these must be fulfilled, and criterion 2 <b>must</b> be one of them. Also there needs to be more than 1000 inhabitants in the area.
</p>